<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ethkly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

        <div class="navbar-fixed">
        <nav class="light-green lighten-1" role="navigation">
          <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">ethkly</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>
        </div> 
        <ul id="slide-out" class="side-nav fixed">
          <li><a href="#!">Calender</a></li>
          <li><a href="#!">Orders</a></li>
          <li><a href="#!">Produts</a></li>
          <li><a href="#!">Rental Analysis</a></li>
          <li><a href="#!">Settings</a></li>
          <li><a href="#!">Account</a></li>
          <li><a href="#!">Support</a></li>
        </ul>