<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blackOutInput</title>
</head>
<body>
    <h1>New Blackout Period</h1>
    <form>
        Add Title
        <br>
        <input type="text" name="title"><br>
        <br>
        End Date
        <input type="text" name="endDate"><br>
    </form>
    <br>
    <form>
        Add Location
        <input type="text" name="location"><br>
        <br>
        Add Description
        <input type="text" name="location"><br>
    </form>
    <br>
    <button>Cancel</button>
    <button>Submit</button>
</body>
</html>