<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirmation</title>
</head>
<body>
        <h1>Add New Products</h1>
        <thead>
          <tr>
            <th>Import From Current Store</th>
          </tr>
        </thead>
       <tbody>
       </tbody>
       <form>
           <br>
            Search Existing Products<br>
            <input type="text" name="products"><br>
            <br>
            Search Results
          </form>
      </body>
      </html>
</body>
</html>