<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>import_product3</title>
</head>
<body>

        <!-- need to add a nav bar later on -->

    <!-- pizza tracker will go here-->
    <!-- //{object.findbyId} -->
    <h3>Dates Avaliable<br>You can backdate to show up immediately</h3>
    <form>
            <br>
             Start Date<br>
             <input type="text" name="start"><br>
             <br>
             End Date<br>
             <input type="text" name="end"><br>
            </form>
            <p>What is the minimum and maximum duration (in days/weeks/<br>months) you would 
                like to make these items avaliable for rental?</p>
                
                <form>
                    <br>
                    Minimum
                    <input type="text" name="min"><br>
                    <br>
                    Maximum
                    <input type="text" name="max"><br>
                    <br>
                    Pricing<br>
                    <input placeholder='$'type="text" name="price">Per Day<br>
                    <br>
                    <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                            <div id="myDropdown" class="dropdown-content">
                              <a href="#home">Days</a>
                              <a href="#about">Weeks</a>
                              <a href="#contact">Months</a> 
                    </div>
                    <br>
                    <button>Back</button>
                    <button>Next</button>
        </form>
</body>
</html>