<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>import_product2</title>
</head>
<body>
    <!-- //{object.findbyId} -->
    <p>How many of each variant would you like to make avaliable for rental?</p>

    <div class="avaliable">
    <ul>
        <li>Variations</li>
        <li>Size</li>
        <li>Color</li>
        <li>Total In Stock</li>
        <li>Amount Avaliable for Rent</li>
    </ul>    
    </div>
<button>back</button>
<button>Next</button>
</body>
</html>