<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>import_product5</title>
</head>
<body>
    <!--Pizza Tracker-->
    <!--object.findbyId--> 
    <h3>Shipping</h3>
    <br>
    <h5>Lead Time</h5>
    <p>What is the maximum number of days it will take you to fulfill the order?
    <br>Please account for processing + shipping time.</p>
     
    <form>
        <input type="text" name="Lead"> Days<br>
    </form>
    
    <h5>Lag Time</h5>
    <p>What is the maximum number of days it will take for your item to be ready for rental?<br>Please account for return shipment from previous customer, cleaning, and restocking times.</p>
    <form>
        <input type="text" name="Lag"> Days<br>
    </form>
    <br>
    <button>back</button>
    <button>submit</button>
    
</body>
</html>